
html{
    font-family: "quicksand";
}
body{
    margin: 0;
    background: black;
}

#dragBox{
    --boxWidth: 200px;
    --boxHeight: 200px;
    width: var(--boxWidth);
    height: var(--boxHeight);
    border: 2px solid white; 
    border-radius: 10%;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%; left: 50%; transform: translate(-50%, -50%);

    user-select: none;
    cursor: pointer;
}

@font-face{
    font-family: 'quicksand';
    src: url("Quicksand.ttf");
}
@media (max-width: 1000px){

}